/* General */
:root {
    --white: #FFF;
    --aqua: #3DC0CB;
    --gray: #4A4A4A;
    --light-blue: #009FDC;
    --blue: #174985;
    --dark-blue: #0D2643;
    --bg-light: #F8F8F8;
    --bg-dark: #EFEFEF;
    --font-xl: 144px;
    --font-lg: 52px;
  }

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Variable-Weight.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'SF NS Display';
    src: url('fonts/SFNS_Display_Regular.ttf') format('truetype');
    font-style: normal;
}

body {
    color: var(--gray);
    font-family: 'SF NS Display', sans-serif;
    background-color: var(--bg-light);
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 25px;
    margin: 0;
}

h4 {
    font-size: 24px;
    line-height: 25px;
    margin-block-start: .5em;
    margin-block-end: .5em;
}

p {
    font-size: 12px;
    line-height: 21px;
    margin-top: 28px;
    letter-spacing: .05em;
}

.d-flex {
    display: flex;
}

hr {
    border-top: 1px solid #DBDBDB;
    width: 90%;
}

.t-right {
    text-align: right;
}

.bg-aqua {
    background-color: var(--aqua);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.color-aqua {
    color: var(--aqua);
}

.color-light-blue {
    color: var(--light-blue);
}

.color-blue {
    color: var(--blue);
}

.color-dark-blue {
    color: var(--dark-blue);
}

/* Buttons */

.btn {
    border: none;
    border-radius: 17px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 42px;
}

.button-primary {
    color: var(--light-blue);
    background-color: var(--white);
}

.button-dark, .button-primary:hover, .button-light:hover {
    color: var(--white);
    background-color: var(--light-blue);
}

.button-light,.button-dark:hover {
    color: var(--white);
    background-color: var(--aqua);
}

.btn-banner {
    padding: 10px 60px;
    line-height: 10px;
}

/* Banner */
.main-banner{
    background-image: url(img/back-main-banner.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    display: flex;
    height: 1004px;
}

.logo {
    margin-top: 42px;
    margin-left: 12%;
}

.title-banner {
    color: var(--white);
    text-transform: uppercase;
    position: relative;
    top: 29%; 
}

.title-1 {
    font-family: 'SF NS Display', sans-serif;
    font-size: var(--font-lg);
    letter-spacing: 0;
    margin-left: 30px;
    text-align: center;
}

.title-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-xl);
    font-weight: bold;
    letter-spacing: 0;
    line-height: 110px;
    text-align: center;
}

.title-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-lg);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 63px;
    margin-left: -18px;
    margin-top: -5px
}

.lh-btn {
    line-height: 60px;
}

.lh-btn-banner {
    line-height: 30px;
}

/* Section Control Data */
.control-data{
    background-image: url(img/back-black-and-white-buildings-01.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    display: flex;
    height: 605px;
    box-shadow: 0 30px 18px -18px rgba(0,0,0,0.34);
}
.mt-control-data {
    margin-top: 96px;
}

/* Section Our Solution */
.our-solution {
    display: flex;
}

.row-flex {
    display: flex;
    margin-left: -56px;
}

.row-flex .col-50 {
    margin: 65px 0;
}

.box {
text-align: center;
}

.box p {
    margin: auto;
    margin-top: 8px;
    max-width: 65%;
}

.box-icon{
    width: 105px;
    height: 103px;
    border-radius: 50%;
    margin:  auto;
    display: flex;
    justify-content: center;
}

.box-icon img {
    width: 53px;
}

.box-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 27px;
    text-transform: uppercase;
}

.mt-our-solution {
    margin-top: 138px;
    margin-left: 56px;
}

.mt-our-solution h3 {
    position: relative;
    font-size: 60px;
}

.mt-our-solution h3::after{
    display: block;
    content: ' ';
    background-image: url('img/icons/right-title.svg');
    background-repeat: no-repeat;
    height: 94px;
    width: 252px;
    position: absolute;
    bottom: 0;
    right: -15px;
}

/* Section Trustworthy Data */
.trustworthy-data {
    background: var(--bg-light);
    background: linear-gradient(to right bottom, var(--bg-light) 50%, var(--bg-dark) 50%);
    padding-top: 65px;
}

.text-data {
    margin-top: 160px;
    margin-left: 160px;
}

.text-data p {
    width: 70%;
}

.text-data h3::before {
    display: block;
    content: ' ';
    background-image: url(img/icons/title-left.svg);
    background-repeat: no-repeat;
    height: 156px;
    width: 134px;
    position: relative;
    left: -160px;
}

.text-data h3 {
    margin-top: -156px;
}

/* Form */

.form {
    background-color: var(--bg-dark);
    color: var(--white);
    text-align: center;
    width: 100vw;
    padding-top: 120px;
}

.bg-form {
    border-radius: 0 60px 60px 0;
    background: linear-gradient(312.51deg, #3DC0CB 0%, #0AA4D9 22.04%, #0F4B90 82.79%, #122336 100%);
    display: flex;
    padding: 100px 0 100px 12%;
}

.form h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 83px;
    font-weight: bold;
    line-height: 56px;
}

.form h4 {
    font-family: 'SF NS Display', sans-serif;
    font-size: 48px;
}

.contact-input {
    color: var(--white);
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 16px;
    padding: 11px 30px;
    width: 100%;
}

.contact-submit {
    width: 100%;
}

::placeholder {
    color: var(--white);
}

.img-form {
    position: absolute;
    right: 0;
    margin-top: 185px;
}

/* Footer */

.blue-space {
    background-color: #0D2643;
    height: 120px;
}

.footer {
    background-color: #09111D;
    height: 70px;
    display: flex;
}

.text-footer {
    color: var(--white);
    font-size: 12px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}


/* Responsive */
@media (max-width: 576px) {
    .banner-d-flex {
        text-align: left;
    }

    .control-data {
        background-size: 180% !important;
        height: 100vh;
    }

    .row-flex {
        flex-direction: column;
        margin-left: 0;
    }

    .mt-our-solution {
        margin-left: 0;
    }
    .mt-our-solution h3::after {
        left: calc(100vw - 110px);
    }

    .text-data h3 {
        line-height: 40px;
    }

    hr.box-division {
        display: none;
    }
    
}

@media (max-width: 991px) {
    :root {
        --font-xl: 100px;
        --font-lg: 36px;
    }

    .title-banner {
        padding: 0 10px;
    }

    .title-2 {
        margin-top: -10px;
    }

    .title-3 {
    line-height: 40px;
    margin-left: 0;
    margin-top: 5px;
    }

}

@media (max-width: 1141px) {
    .logo {
        background-color: var(--bg-light);
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }
    
    .main-banner {
        background-image: url(img/back-banner.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100% 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100vh;
    }

    .title-banner {
        top: 60%;
    }

    .banner-d-flex {
        justify-content: center;
    }

    .control-data {
        background-image: none;
        height: auto;
        flex-direction: column-reverse;
    }

    .control-data img, .md-w-100, .trustworthy-data img{
        width: 100%;
    }

    .text-data {
        margin: 0;
    }

    .col-40, .trustworthy-data .col-48{
        padding: 0 20px;
    }
    
    .mt-control-data {
        margin-top: 60px;
    }

    .our-solution {
        flex-direction: column-reverse;
    }

    .trustworthy-data {
        flex-direction: column;
    }

    .form {
        flex-direction: column;
    }
    .img-form img{
        width: 50%;
    }

    .bg-form {
        padding: 20px 20px 80px !important;
    }

    .img-form {
        position: relative;
        left: 30%;
        bottom: 50px;
        margin-top: 0;
    }
    .blue-space {
        margin-top: -180px;
    }
}

@media (min-width: 1142px) { 
    .col-40 {
        flex-basis: 40%;
    }

    .col-46 {
        flex-basis: 46%;
    }

    .col-48 {
        flex-basis: 48%;
    }

    .col-50 {
        flex-basis: 50%;
    }

    .col-52{
        flex-basis: 52%;
    }

    .col-54{
        flex-basis: 54%;
    }

    .col-60 {
        flex-basis: 60%;
    }

    .col-63 {
        flex-basis: 63%;
    }

    .p-col-40 {
        width: 63%;
    }
    .control-data img{
        display: none;
    }
        
 }